---
import Layout from "../layouts/Layout.astro";
import Cards from "../components/cards.astro";
import Proyectos from "../components/proyectos.astro";
import About from "../components/about.astro";
import Abilities from "../components/abilities.astro";
---

<Layout title="Juan Pablo Portfolio">
  <header class="header">
    <div class="header_text">
      <div class="cont-1">
        <h1 class="header_h1">Juan</h1>
        <h1 class="header_h1">Pablo</h1>
      </div>
      <div class="cont-2">
        <h2 class="header_h3">Software Developer</h2>
      </div>
    </div>

    <div class="header_img">
      <img src="/assets/Perfil1.jpg" alt="Logo Person" class="header_logo" />
    </div>
  </header>

  <section class="project" id="Projects">
    <div class="project_contain">
      <h3 class="project_h3">Incredible Projects</h3>
      <p class="project_p">
        I'm learning how to turn ideas into software solutions that will leave
        you amazed. I am always learning about the latest technologies and have
        worked on projects that have been well received.
      </p>
      <div class="project_cards">
        <Cards number={10} body="Fulfilled projects" />
        <Cards number={6} body="Happy Customers" />
        <Cards number={10} body="Mastered Technologies" />
      </div>

      <div class="access">
        <Proyectos
          number="AP-TOOLS"
          body="A mobile app and website allow people to safely borrow tools from their neighbors."
          src="/assets/projects/Proyecto-1.png"
          href="https://ap-tools.vercel.app/"
        />

        <Proyectos
          number="HEX-COLOR"
          body="The user chooses a color and gets its hexadecimal value in a text field.."
          src="/assets/projects/Proyecto-2.png"
          href="https://hexadecimal-color.vercel.app/"
        />
      </div>
    </div>
  </section>

  <section class="information" id="About">
    <h2 class="information_h2">About Me</h2>
    <About
      title="Who i am?"
      body="I am Juan Pablo, a software developer with a passion for technology. I started programming at 17 years old and currently, I am studying Software Development"
    />

    <About
      title="My story"
      body="Since I was a child, I have always been fascinated by technology. When I was 9 years old, I had my first computer and started learning how to program. At 17 years old, I started developing websites"
    />

    <About
      title="My path as a Software Developer"
      body="My first programming projects were simple, but they helped me learn the fundamentals of programming. As I progressed, I began to develop more complex projects. I am currently learning JS and Astro Framework. I'm excited to explore these new technologies and see what I can create with them."
    />
  </section>

  <section class="abilities">
    <div class="contain">
      <h3 class="contain_h3">My Abilities</h3>

      <div class="skills">
        <div class="skills_soft">
          <h5 class="skills_soft_h5">Soft Skills</h5>
          <div class="skill">
            <Abilities clase="fa-solid fa-comments" body="Communication" />
            <Abilities
              clase="fa-solid fa-handshake-angle"
              body="Problem-solving"
            />
            <Abilities clase="fa-solid fa-brain" body="Critical thinking" />
            <Abilities
              clase="fa-solid fa-hand-pointer"
              body="Self-management"
            />
            <Abilities clase="fa-solid fa-thumbs-up" body="Adaptability" />
            <Abilities clase="fa-solid fa-palette" body="Creativity" />
          </div>
        </div>

        <div class="skills_hard">
          <h5 class="skills_hard_h5">Hard Skills</h5>
          <div class="skill">
            <Abilities clase="fa-solid fa-sitemap" body="Organization" />
            <Abilities clase="fa-solid fa-clock" body="Time management" />
            <Abilities clase="fa-solid fa-highlighter" body="Decision making" />
            <Abilities clase="fa-solid fa-people-arrows" body="Colaboration" />
            <Abilities clase="fa-solid fa-chess-king" body="Lidership" />
            <Abilities
              clase="fa-solid fa-paintbrush"
              body="Graphic design skills"
            />
          </div>
        </div>
      </div>
    </div>
  </section>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"
    ><path
      fill="#fff"
      fill-opacity="1"
      d="M0,160L48,181.3C96,203,192,245,288,256C384,267,480,245,576,250.7C672,256,768,288,864,282.7C960,277,1056,235,1152,202.7C1248,171,1344,149,1392,138.7L1440,128L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"
    ></path></svg
  >
  <section class="contact" id="Contact">
    <div class="contain">
      <h3 class="contact_h3">!Contact Me!</h3>
      <p class="contact_p">
        If you are looking for a programmer who knows what he is doing, look no
        further. Let's talk about your projects and see how I can help you!
      </p>
      <div class="action">
        <button class="btn_p action_btn-1"
          >Send me a message <i
            class="fa-solid fa-paper-plane"
            style="color: #1e3050;"></i></button
        >
        <button class="btn_p action_btn-2"
          >CV <i class="fa-solid fa-arrow-down" style="color: #1e3050;"
          ></i></button
        >
      </div>
    </div>
  </section>
</Layout>

<!-- Estilos Generales -->
<style lang="SCSS">
  $white: #fff;
  $black: #000;
  $green1: #a4c3b2;
  $green2: #6b9080;
  $gray: #8d8b8b;

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  .header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 70vh;
    width: 100vw;

    &_text {
      display: flex;
      justify-content: center;
      text-align: center;
      flex-direction: column;
      width: 40vw;
    }

    .cont-1 {
      margin: 0 auto;
      text-align: left;
    }

    .cont-2 {
      margin: 0 auto;
      text-align: left;
      width: 60%;
    }

    &_h1 {
      font-family: "Climate Crisis", sans-serif;
      font-size: 7.5rem;
      color: $white;
    }

    &_h3 {
      font-family: Poppins, sans-serif;
      font-size: 2rem;
      color: $gray;
    }

    &_img {
      display: grid;
      width: 60vw;
    }

    &_logo {
      display: block;
      margin: auto;
      width: 40%;
      border-radius: 0 180px 0 180px;
    }
  }

  .project {
    background-color: $white;
    padding: 50px;

    &_h3 {
      font-family: "Climate Crisis", sans-serif;
      font-size: 1.8rem;
      letter-spacing: 3px;
    }

    &_p {
      width: 50%;
      font-size: 1.3rem;
    }

    &_cards {
      width: 70%;
      display: flex;
      justify-content: space-around;
    }
  }

  .access {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-top: 50px;
  }

  .information {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    &_h2 {
      color: $white;
      text-align: center;
      background-color: $green2;
      padding: 30px;
    }
  }

  .abilities {
    padding-top: 30px;
    background-color: #fff;

    .contain {
      margin: auto;
      width: 100%;

      &_h3 {
        font-size: 2rem;
        font-family: "Climate Crisis", sans-serif;
        letter-spacing: 3px;
        text-align: center;
        margin-bottom: 30px;
      }

      .skills {
        margin: auto;
        width: 90%;
        display: flex;
        justify-content: center;
        padding: 30px;

        &_hard,
        &_soft {
          padding: 20px;
          display: flex;
          flex-direction: column;
          width: 100%;
          text-align: center;
          justify-content: center;
          border: 1px solid black;

          &_h5 {
            display: inline-block;
            font-size: 1.5rem;
            margin-bottom: 50px;
          }

          .skill {
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
            justify-content: center;
          }
        }
      }
    }
  }

  .contact {
    .contain {
      text-align: center;
      width: 50%;
      margin: auto;
    }

    &_h3 {
      font-size: 2.5rem;
      font-family: "Climate Crisis", sans-serif;
      color: $white;
      margin-bottom: 20px;
    }

    &_p {
      font-size: 1.2rem;
      color: $white;
      margin-bottom: 20px;
    }

    .btn_p {
      padding: 20px;
      border: none;
      border-radius: 10px;
    }

    .action_btn-1 {
      background-color: $green1;
    }

    .action_btn-2 {
      background-color: $green2;
    }
  }
  
  @media (min-width: 320px) and (max-width: 574px) {
    .header {
      margin-top: 100px;
      display: flex;
      flex-direction: column-reverse;
      height: 70vh;
      width: 100vw;

      &_text {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        width: 100vw;
      }

      &_h1 {
        margin: auto;
        font-family: "Climate Crisis", sans-serif;
        font-size: 4.5rem;
        color: $white;
      }

      &_img {
        display: block;
        width: 100vw;
      }

      &_logo {
        display: block;
        margin: auto;
        width: 50%;
        border-radius: 0 150px 0 150px;
      }
    }

    .project {
      background-color: $white;
      padding: 50px;

      &_h3 {
        font-family: "Climate Crisis", sans-serif;
        font-size: 1.8rem;
        letter-spacing: 3px;
      }

      &_p {
        width: 100%;
        font-size: 1.3rem;
      }

      &_cards {
        width: 100%;
        display: flex;
        justify-content: space-around;
      }
    }

    .access {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 50px;
    }

    .information {
      &_h2 {
        color: $white;
        text-align: center;
        background-color: $green2;
        padding: 30px;
      }
    }

    .abilities {
      padding-top: 30px;
      background-color: #fff;

      .contain {
        margin: auto;
        width: 100%;

        &_h3 {
          font-size: 2rem;
          font-family: "Climate Crisis", sans-serif;
          letter-spacing: 3px;
          text-align: center;
          margin-bottom: 30px;
        }

        .skills {
          margin: auto;
          width: 100%;
          display: block;
          justify-content: center;
          padding: 10px;

          &_hard,
          &_soft {
            padding: 20px;
            display: flex;
            flex-direction: column;
            width: 100%;
            text-align: center;
            justify-content: center;
            border: 1px solid black;

            &_h5 {
              display: inline-block;
              font-size: 1.5rem;
              margin-bottom: 50px;
            }

            .skill {
              display: flex;
              gap: 20px;
              flex-wrap: wrap;
              justify-content: center;
            }
          }
        }
      }
    }

    .contact {
      .contain {
        text-align: center;
        width: 90%;
        margin: auto;
      }

      &_h3 {
        font-size: 2.3rem;
        font-family: "Climate Crisis", sans-serif;
        color: $white;
        margin-bottom: 20px;
      }

      &_p {
        font-size: 1.2rem;
        color: $white;
        margin-bottom: 20px;
      }

      .btn_p {
        padding: 20px;
        border: none;
        border-radius: 10px;
      }

      .action_btn-1 {
        background-color: $green1;
      }

      .action_btn-2 {
        background-color: $green2;
      }
    }
  }

  @media screen and (min-width: 768px) and (max-width: 991px){
    .header {
      display: flex;
      flex-direction: column-reverse;
      height: 70vh;
      width: 100vw;

      .cont-1{
        display: flex;
        text-indent: 30px;
      }

      &_text {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        width: 100vw;
      }

      &_h1 {
        margin: auto;
        font-family: "Climate Crisis", sans-serif;
        font-size: 4.5rem;
        color: $white;
      }

      &_h3{
        text-align: center;
      }

      &_img {
        display: block;
        width: 100vw;
      }

      &_logo {
        display: block;
        margin: auto;
        width: 50%;
        border-radius: 0 150px 0 150px;
      }
    }

    .project {
      background-color: $white;
      padding: 50px;

      &_h3 {
        font-family: "Climate Crisis", sans-serif;
        font-size: 1.8rem;
        letter-spacing: 3px;
      }

      &_p {
        width: 100%;
        font-size: 1.3rem;
      }

      &_cards {
        width: 100%;
        display: flex;
        justify-content: space-around;
      }
    }
  }

  .information {
    &_h2 {
      color: $white;
      text-align: center;
      background-color: $green2;
      padding: 30px;
    }
  }

  .abilities {
    padding-top: 30px;
    background-color: #fff;

    .contain {
      margin: auto;
      width: 100%;

      &_h3 {
        font-size: 2rem;
        font-family: "Climate Crisis", sans-serif;
        letter-spacing: 3px;
        text-align: center;
        margin-bottom: 30px;
      }

      .skills {
        margin: auto;
        width: 100%;
        display: block;
        justify-content: center;
        padding: 10px;

        &_hard,
        &_soft {
          padding: 20px;
          display: flex;
          flex-direction: column;
          width: 100%;
          text-align: center;
          justify-content: center;
          border: 1px solid black;

          &_h5 {
            display: inline-block;
            font-size: 1.5rem;
            margin-bottom: 50px;
          }

          .skill {
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
            justify-content: center;
          }
        }
      }
    }
  }
</style>
