---
interface Props {
	title: string;
}

const { title } = Astro.props;
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/assets/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<script src="https://kit.fontawesome.com/caac178fdb.js" crossorigin="anonymous"></script><script src="https://kit.fontawesome.com/caac178fdb.js" crossorigin="anonymous"></script>
		<title>{title}</title>
	</head>
	<body>
		<Nav/>
		<slot />
		<Footer/>
	</body>
</html>

<style>
	@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Montserrat:wght@100;700&family=Poppins:wght@100;300;700&display=swap');

	html{
		scroll-behavior: smooth;
	}
	
	body{
		font-family: Poppins,sans-serif;
		background-color: #000000;
	}
</style>